.App {
  text-align: center;
}

.logo {
  display: flex;
  padding-top: 10px;
  height: 15vh;
  pointer-events: none;
}

.header {
  background-color: #6a758b;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.navbar {
  display: flex;
}

.link_left {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 75vh;
  color: purple;
}

.link_right {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 75vh;
  color: purple;
}

.ui.form {
  display: inline-block;
  padding-top: 5vh;
  width: 50vh;
}

.field label {
  text-align: left;
}

.ui.cards {
  padding-top: 5vh;
}

